<h1>Portfolio items</h1>

<% @portfolio_items.each do |portfolio_item| %>
	<p><%= portfolio_item.title %></p>
	<p><%= portfolio_item.body %></p>
	<%= image_tag portfolio_item.tumb_image unless portfolio_item.tumb_image.nil?%>

<% end %>